body {
  font-family: "Heebo", serif;
  font-style: normal;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  gap: 20px;
  justify-content: end;
  padding-top: 20px;
  margin-right: 40px;
}

.section-one {
  display: flex;
  height: 400px;
  margin: 60px 100px 0px 100px;
  justify-content: space-between;
}

.introduction {
  width: 50%;
  height: auto;
}

.photo {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: black;
  background-image: url('../assets/images/photo-profile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left: 100px; */
}

.title {
  font-weight: bold;
  font-size: 44px;
}

.sub-title {
  width: 500px;
}

.btn-download {
  border-radius: 5px;
  background-color: #FF6464;
  height: 50px;
  width: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.section-two {
  background-color: #EDF7FA;
  height: 300px;
  width: 100%;
}

.blog { 
  margin: 0px 100px 0px 100px;
 
}

.activity {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

.view {
  color: #00A8CC;
}

.content-card {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
  height: auto;
  width: 100%;
}

.time {
  display: flex;
}

.section-three {
  margin: 20px 100px 0px 100px;
}

.list {
  height: auto;
  width: auto ;
  /* flex-direction: row; */
  display: flex;
  margin-top: 20px;
  border-radius: 2px;
  border: 1px dashed #000;
}

.list-title p {
  font-size: 20px;
  font-weight: 700;
}

.image-list {
  width: 250px;
  height: 180px;
}

.dashboard-list {
  width: 100%;
  margin-left: 20px;
}

.dashboard-title {
  font-size: 30px;
  font-weight: bold;
}

.dashboard-year-and-name {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}
.dashboard-year {
  border-radius: 16px;
  background-color: #142850;
  width: 70px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.dashboard-name {
  color: #8695A4;
  font-size: 20px;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 150px;
  margin-bottom: 50px;
}


@media only screen and (max-width: 600px){
  .section-one {
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
  }

  .introduction {
      height: auto;
      margin-bottom: 30px;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .photo {
      width: 170px;
      height: 170px;
      border-radius: 100%;
      background-color: black;
      background-image: url('../assets/images/photo-profile.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
  }

  .title {
      font-size: 32px;
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
  }

  .sub-title {
      width: auto;
      text-align: center;
  }

  .section-two {
    height: auto;
    background-color: #EDF7FA;
    width: 100%;
  }

  .blog {
    margin: 0;
  }

  .activity {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
  }

  .content-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .card {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .section-three {
    height: auto;
    width: 100%;
    margin: 0;
  }

  .list-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-title p {
    font-size: 20px;
    font-weight: 700;
  }

  .list {
    flex-direction: column;
    display: flex;
    margin: 10px;
  }

  .dashboard-list {
    width: auto;
  }
  
  .image-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #142850;
    width: auto;
    height: auto;
  }

  .dashboard-title {
    padding-top: 20px;
  }
}